.reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title_color {
    color: blueviolet;
    font-size: 50px;
    font-weight: bold;

    
}

/* .body1 { 
    font-family: 'roboto', sans-serif;
    text-align: justify; 
    font-size: 10px;
    padding: 1%;
    margin: 1%;
    
} */

.menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style:none;
    background-color: aqua;
    font-size: 20px;
}



.subtitulos {
    
    font-size: 30px;
    font-weight: bold;
}

header {
    display:flex; 
    justify-content:space-between;
    align-items:center;
    background-color:pink;
    padding: 30px 20% 30px 3%;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);


}

.nav_link li {
    display:inline-block; 
    padding: 0px 40px;
    padding-top: 5px;
    

}

.nav_link li, a {
    text-decoration: none;
    font-size: 25px;
    color: blueviolet;
    list-style: none;
    font-weight:lighter;
    font-family:Arial, Helvetica, sans-serif;
}

.nav_link2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none; 
    margin-right: 20%;
    margin-left: 20%;
    background-color:pink;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);


}

.nav_link2_a {
    color: blue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    
}

.imagen_cfg {
    height: 300px;
    width: 300px;
    padding-right: 10px;
    
}

.flex-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 30px;

}

.text {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: justify;
    width: 95%;
    height: 300px;
    
}

.div_nav {
    padding-top: 20px;
}

.footer {
    background-color: pink;
    box-shadow: 8px 0px 0px rgba(0,0,0,.6);
    text-align: center;
    width: 100%;
    bottom: 0;
    padding-bottom: 15px;
    padding-top: 10px;

}

.grid_index {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 4% 20% 20% 20% 20% auto;
    grid-row-gap: 1.5rem;
    grid-template-areas: "header" 
                          "nav2"
                          "astro"
                          "num"
                          "rider"
                          "marse"
                          "footer";
                          
}

header {
    grid-area: header;
}

.nav_link2 {
    grid-area: nav2;
}

.grid-astro {
    grid-area: astro;
}
.grid-num {
    grid-area: num;
}
.flex-rider {
    grid-area: rider;
}
.flex-marse {
    grid-area: marse;
}

.footer {
    grid-area: footer;
}

.gradiente {
    background: linear-gradient(to bottom, pink , rgb(197, 91, 157));
    
}

.transform {
    transform: rotate(-20deg);

}

.animaciones {
    animation-duration: 2s;
   animation-name: aparecer;
   animation-iteration-count: infinite;

}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
  

/* .flex-iten {
    background-color: blue;
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 10%;
    height: 10%;
    border: 10ox, black;

} */

/* .grid-container {
    display: grid;
    grid-template-columns:min-content;
    grid-template-rows:auto;
    grid-auto-flow:row;
    grid-column:span;
    text-align: justify;
    grid-area: auto;
    
    
} */

/* .grid-iten {
    text-align: center;
    background-color: aqua;
    grid-column: auto;
    margin: 20%;
    padding: 20%;
    font-size:medium;
    border: 1%;
    
} */

/* @media only screen and (max-width: 700px) {
    .body {
        display: block;
        width: 100%;
    }
    .h1 {
        font-size: 20px;
    }
    .nav {
        display: flex;
        width: 100%;
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
        align-items: center;
        float: left;
        height: 37px;
    } */

